# Archivos del sistema y cache
.DS_Store
__pycache__/
*.pyc

# Clases teóricas
Clases Teoria Jupiter/

# Ejercicios de la Práctica 1 (se excluyen para conservar solo el ejercicio 5 en el repositorio)
Practica 1/ejercicio1.py
Practica 1/ejercicio2.py
Practica 1/ejercicio3.py
Practica 1/ejercicio4.py
Practica 1/ejercicio7.py
